<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Open Mic Tech{{if isset .Params "title" }} | {{ .Title }}{{end}} </title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0B9F96">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i|Montserrat:400,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <header class="main-header">
    <div class="nav-wrapper">
     <a class="home-link" href="/"><img class="logo-image" id="logo-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/847224/blackNoFrame.svg" alt="Open Mic Tech Logo"><h1 class="logo-text" id="logo-text">Open&nbsp;Mic&nbsp;Tech</h1></a>
     <nav class="main-nav-list">
       <a class="main-nav-item" href="/page/omt-ph">OMT Posts</a>
       <a class="main-nav-item" href="/#about">About OMT</a>
       <!-- <a class="main-nav-item" href="/page/calendar">Calendar</a> -->
       <a class="main-nav-item active"  href="/#contact">Contact</a>
     </nav>
   </div>
 </header>


 {{ block "main-block" . }}
 {{end}}


 <footer class="main-footer">
   <div class="footer-inner-wrapper">
     <form action="" class="signup">
       <h1> Sign up for the Open Mic Tech mailing list.</h1>
       <label for="name">Your name</label>
       <input type="text" name="name" class="name" id="name">
       <label for="email">Your email</label>
       <input type="text" class="email" id="email" name="email">
       <button class="button submit" name="submit">Submit</button>
     </form>
     <nav class="bottom-nav">
      <h1>Sitemap</h1>
      <a href="/post" class="bottom-nav-item">OMT Posts</a>
      <a href="/#about" class="bottom-nav-item">About OMT</a>
      <a href="/#contact" class="bottom-nav-item">Contact</a>
      <!-- <a href="/sitemap.xml" class="bottom-nav-item">Sitemap</a> -->
    <!-- <a href="#" class="bottom-nav-item">Privacy Policy</a>
      <a href="#" class="bottom-nav-item">Terms of Use</a> -->
    </nav>
    <nav class="social-nav">
      <h1>Be Social!</h1>
      <a href="#">Instragram</a>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
    </nav>
    <p class="copyright">Copyright &copy; Open Mic Tech 2018, all rights reserved.</p>

  </div>
</footer>
{{ partial "scripts.html" . }}
</body>