{{ partial "head.html" . }}

<main class="notfound">
	<p class="title">404</p>
	<div class="message">
		<p class="message-text">
			Aww shucks! This page doesn't exist! Try one of the links below to get on the right track.
		</p>
		<nav class="notfound-nav">
			<a href="/" class="notfound-nav-item">OMT Home</a>
			<a href="/post" class="notfound-nav-item">Past OMTs</a>
			<a href="/#about" class="notfound-nav-item">About OMT</a>
			<a href="/#contact" class="notfound-nav-item">Contact</a>
		</nav>
	</div>

</main>

<footer class="notfound-footer">
	Copyright &copy; Open Mic Tech 2018, all rights reserved.
</footer>